////////////////////////////////////////////////////////////////////////////////
//
// Machines (PC) WiredForWar Team 2019-07
//
// Desc: planeted.rc
// Windows resource file.
//
////////////////////////////////////////////////////////////////////////////////

#include <afxres.h>
#include "resource.h"

/// English (U.S.)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif  // _WIN32

/// icon
#define IDI_ICON1 101
// Icon with lowest ID value placed first to ensure application icon remains \
    consistent on all systems.
IDI_ICON1 ICON "planeted.ico"

/// version
VS_VERSION_INFO VERSIONINFO
  FILEVERSION 0,0,1
  PRODUCTVERSION 0,0,1
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904e4"
      BEGIN
        VALUE "FileDescription", "Machines Planet Editor"
        VALUE "FileVersion", "0.0.1" VERSION_BUILD_STRING
        VALUE "InternalName", "Machines Wired For War"
        VALUE "LegalCopyright", "Copyright (C) " VERSION_YEAR_STRING
        VALUE "OriginalFilename", "Machines Wired For War Planet Editor"
        VALUE "ProductName", "Machines"
        VALUE "ProductVersion", "0, 0, 1"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1252
    END
  END
